---
---

@import "minima";

applause-button {
    width: 58px;
    height: 58px;
    margin: $spacing-unit * 2 auto;
    text-align: center;
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #FAFAFA;
    opacity: 0.95;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    border: 0;
}

body {
    padding-top: 60px;
}

.colour-gradient-line {
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,rgba(87, 199, 133, 1) 0%, rgba(237, 221, 83, 1) 100%);
}

.banner {
    border-radius: 1rem;
    background: linear-gradient(33deg,rgba(247, 247, 247, 1) 64%, rgba(240, 255, 245, 1) 100%);
    padding: 50px;
    border: 1px solid rgb(236, 236, 236);
}

.legacy-code-banner {
    border-radius: 1rem;
    background: linear-gradient(33deg,rgba(247, 247, 247, 1) 64%, rgb(243, 243, 243) 100%);
    padding: 25px 50px 20px 50px;
    border: 1px solid rgb(236, 236, 236);
    margin-top: 15px;
}

.site-title:hover {
    text-decoration: none;
}

.spotlight-text {
    color: rgba(87, 199, 133, 0.7);
}

.featured-post-list {
    @extend .post-list;
    display: flex;
}

.featured-post {
    flex:1; 
    padding-right: 20px; 
    display: flex;
}

@media screen and (max-width: 800px) {
    .featured-post-list {
        display: block;
    }
}